<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="AUTOMO_FILENAME" value="" />
    <add key="AUTOMO_PATH" value="" />
    <add key="AUTOMO_DMS_ORDNER" value="" />
    <add key="AUTOMO_UPLOAD_ORDNER" value="" />
    <add key="AUTOMO_DMS_PATH" value="" />
  </appSettings>
</configuration>
